<% provide(:title, 'All messages') %>
<h1>All messages</h1>

<ul class="users">
  <%= @messages.each do |message| %>
  <%=p  message%>
  <%= render partial: 'shared/message_user', locals: {message: message} %>
  <% end %>
</ul>
