<section>
  <%= render 'shared/message_form' %>
</section>
<div class="ui segment">
 <% @messages.each do |message| %>
   <ol class="microposts">
     <%= render partial: 'shared/message', locals: {message: message} %>
   </ol>
 <% end %>
</div>
<%= will_paginate @messages %>