<li>
  <%= gravator_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%#管理者のみ見える %>
    | <%= link_to "delete", user, method: :delete,
                    data: { confirm: "You sure?" } %>
    <% end %>
</li>